{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>

    <div class="menu">
        {% if request.user.is_authenticated %}
        <ul>
            <li><a href="{% url "main_page" %}">Главная</a></li>
            <li><a href="#">Люди</a></li>
            <li><a href="#">Медиа</a></li>
            <li><a href="{% url "settings" %}">Настройки</a></li>
            <a id="exit" href ="{% url "logout" %}">Выйти из системы</a>
        </ul>
        {% else %}
        <a id="exit" href ="{% url "login" %}">Войти</a>
        {% endif %}
    </div>


    {% block content %}

    {% endblock content %}
    
</body>
</html>